# Banco de dados
POSTGRES_DB=vagas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Backend
ADZUNA_APP_ID=
ADZUNA_APP_KEY=

# WhatsApp (Evolution API)
WHATSAPP_API_URL=http://localhost:8080
WHATSAPP_API_KEY=
WHATSAPP_INSTANCE=

# Evolution API
EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_API_KEY=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Google OAuth — https://console.cloud.google.com/
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# GitHub OAuth — https://github.com/settings/developers
# Em "Homepage URL" use http://localhost:3000
# Em "Authorization callback URL" use http://localhost:3000/auth/callback/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_GITHUB_CLIENT_ID=
